<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/styleSheet/login.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Login</h1>
        <div class="form1">
            <form action="/login" method="post">
                <input type="email" name="email" placeholder="Enter Your Email" required>
                <input type="password" name="psw" placeholder="Enter Your password" required>
                <button> LOGIN</button>
            </form>
            <div class="rst">
                <!-- <small>Sign up</small> -->
                <a href="./">Sign up</a>

                <!-- <small class="sm">Reset password</small> -->
                <a href="./reset" class="seconda">Reset password</a>
            </div>
        </div>
    </div>
</body>
</html>