<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styleSheet/nav.css">
</head>
<body>
  <header class="header">
    <a href="#" class="logo">ACCOUNT ERP</a>
    <nav class="nav-items">
      <a href="/Home">Home</a>
      <a href="/CRegistration">Company Registration</a>
      <a href="/DRegistration">Director Registration</a>
      <a href="/DetailRegistration">Company Detail Registration</a>
      <a href="/Quotation">Quotation</a>
    </nav>
  </header>
</body>
</html>