<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset page</title>
    <link rel="stylesheet" href="/styleSheet/reset.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Reset Password</h1>
        <div class="form1">
            <form action="/reset" method="post">
                <input type="email" name="email" placeholder="Enter Your Email" required>
                <input type="password" name="psw" placeholder="Enter Your password" required>
                <input type="password" name="psw_r" placeholder="Re Enter Your password" required>
                <button> Reset</button>
            </form>
            <!-- <div class="rst">
                <small>Reset password</small>
            <a href=""> Reset</a>
            </div> -->
        </div>
    </div>
</body>
</html>