<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up  page</title>
    <link rel="stylesheet" href="/stylesheet/reset.css">
</head>
<body>
    <div class="container">
        <h1 class="title">SIGN UP</h1>
        <div class="form1">
            <form action="/signUp" method="post">
                <input type="email" name="email" placeholder="Enter Your Email" required>
                <input type="password" name="psw" placeholder="Create your password" required>
                <input type="password" name="psw_r" placeholder="Re-Enter your password" required>
                <button> SIGN UP</button>
                <div class="log"><a href="./login">Login</a></div>
            </form>
        </div>
       
    </div>
</body>
</html>